
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(Images/jec-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 1.5;
}
.container{
    text-align: center;
}
.logo{
    width: 12%;
    margin: 80px auto 2px;
}
h2{
    font-size: 40px;
    margin-bottom: 5px;
}
h3{
    font-size: 18px;
}
h4{
    font-weight: 600;
    letter-spacing: 1px;
}
.btn{
    margin-top: 30px;
    width: 220px;
    height: 60px;
    opacity: 1;
    background-color: white;
    line-height: 60px;
    font-size: 24px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.btn a{
    color: orangered;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(247, 206, 206);
    transition: 0.5s ease-in-out;
}




@media(max-width: 786px){
    .logo{
        width: 40%;
    }
}